@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 5%;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img{
    width: 30px;
    height: 30vh;
}

.flex{
    margin-top: 10%;
    margin-left: 17%;
    display: flex;
}

.mealPlanForm{
    margin-left: 220px;
    margin-top: 25px;
    margin-right: -1390px;
    display: none;
}

.workoutPlanForm{
    margin-left: 620px;
    margin-top: 25px;
    display: none;
}

.prozor{
    display: flex;
}